<ion-header>
  <ion-toolbar color="warning">
    <ion-title>PETSHOP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    class="img_conn"
    [style.background-image]="'url(' + imagemBackground + ')'"
  ></div>
  <div class="divPrincipal">
    <!--<ion-row>
      <ion-col>
        <ion-button shape="block" >GERAR IMAGEM</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="{{imagem}}" width="200" height="200" />
      </ion-col>
    </ion-row>-->

    <div class="espaco">
      <ion-list>
        <ion-item>
          <ion-label position="floating"
            >Nome <span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            placeholder="Ex: Thor"
            [(ngModel)]="cadastro.nome"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"
            >Raça<span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            placeholder="Ex: Pastor Alemão"
            [(ngModel)]="cadastro.raca"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"
            >Idade<span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            placeholder="Ex: 5 anos"
            [(ngModel)]="cadastro.idade"
          ></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button shape="block" color="warning" (click)="cadastrar()"
        >{{LabelBotao}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
